body {
    font-family: 'PT Sans', arial, sans-serif;
}

.listitem {
    display: flex;
    /* padding: 0 5px; */
    flex-flow: wrap;
    float: right;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
    background: white;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    overflow-wrap: anywhere;
}

table thead>tr>th, table tbody>tr>th, table tfoot>tr>th, table thead>tr>td, table tbody>tr>td, table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.hidden {
    display: none !important;
}

.listitem span {
    background: #ddd;
    text-align: center;
    display: inline-flex;
    padding: 10px;
    /* margin: 0 2px; */
    /* margin-bottom: 4px; */
    white-space: nowrap;
}

.listitem span.selected {
    /* animation: breathe; */
    /* animation-duration: 0.5s; */
    background: #ffb74d;
}

a {
    color: black;
}

#search {
    width: 50vw;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: 1rem;
}

#search i {
    padding: 15px 5px 5px 0px;
    font-size: 2.25rem;
}

/* The search field */

#myInput {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;*/
    padding: 15px 10px 5px 5px;
    border: none;
    width: calc(50vw - 1.5rem);
    margin: 0 auto;
    font-size: 1.5rem;
}

/* The search field when it gets focus/clicked on */

#search:focus {
    outline: 3px solid #ddd;
}

/* Dropdown Content*/

.dropdown-content {
    background-color: #f6f6f6;
    /* width: 50vw; */
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    /* z-index: 989; */
    /* left: 50%; */
    /* transform: translate(-50%); */
    /* display: block; */
    /* position: absolute; */
    -webkit-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
    box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
    display: flex;
    flex-direction: row;
    /* -webkit-box-flex: 0; */
    /* flex: 0 0 25%; */
    /* max-width: 25%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.col-dl {
    width: 40%;
}

.col-mimo {
    width: 30%;
}

.col-ul {
    width: 30%;
}

/* Links inside the dropdown */

a {
    color: black;
    text-decoration: none;
}

.dropdown-content a {
    padding: 12px 16px;
    /* display: block; */
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}

#topbar, #list_container {
    padding: 10px 7px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    word-break: keep-all;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-sizing: border-box;
    flex: 0 0 20%;
    width: 20%;
}

.card img {
    /* width: auto; */
    /* border-top-left-radius: calc(0.25rem - 1px); */
    /* border-top-right-radius: calc(0.25rem - 1px); */
    vertical-align: middle;
    border-style: none;
    /* height: 20%; */
    /* max-width: auto; */
    /* max-height: 300px; */
    height: 220px;
    width: auto;
    /* max-width: 200px; */
    /* max-height: 200px; */
    /* align-content: center; */
    /* justify-content: center; */
}

#topbar,#headbar {
    color: black;
    padding: 10px;
    background-color: #ddd;
    /* -webkit-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6); */
    /* box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6); */
    /* transition: 0.3s; */
    box-sizing: content-box;
    font-size: 1.25rem;
    font-weight: bold;
}

#topbar {
	position: sticky;
	z-index: 1080 !important;
	display: flex;
	justify-content: space-between;
    top: 0;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;

}

body {
    margin: 0;
}


input[placeholder] {
    text-overflow: ellipsis;
}

::-moz-placeholder {
    text-overflow: ellipsis;
}

/* firefox 19+ */

input:-moz-placeholder {
    text-overflow: ellipsis;
}

#author{
    float: right;
}

#top-left {
    display: flex;
}

#top-left span {
	display: flex;
	padding: 10px 4px 10px 0;
}

#version {
	/* width: 36.5rem; */
	/* line-height: 0; */
	border-radius: 0.25rem;
	/* text-align: center; */
	font-size: 0.8rem;
	/* border: 2px solid #666; */
	padding: 2px 5px;
	background: #ffb74d;
	/* color: white; */
	text-transform: uppercase;
	/* top: -20px; */
	top: -5px;
    position: relative;
    white-space: nowrap;
}

.card p {
    text-align: center;
    align-self: center;
    width: 100%;
}

.highlight {
    background: yellow; 
    font-weight: bold;
  }
  
/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .card {
        flex: 0 0 25%;
        width: 25%;
    }
    .card img {
        height: 180px;
    }
    #search {
        width: 65vw
    }
    #myInput {
        width: calc(65vw - 1.5rem)
    }
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .card {
        flex: 0 0 33.33%;
        width: 33.33%;
    }
    .card img {
        height: 140px;
    }
    #search {
        width: 80vw
    }
    #myInput {
        width: calc(80vw - 1.5rem)
    }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .card {
        flex: 0 0 50%;
        width: 50%;
    }
    .card img {
        height: 100px;
    }
    #search {
        width: 100vw
    }
    #myInput {
        width: calc(100vw - 1.5rem)
    }
    .card br {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .card img {
        display: none;
    }
    .card {
        flex: 0 0 100%;
        width: 100%;
    }
    .card p {
        text-align: left;
    }
    #author
    {
        display: none;
    }
}